In [1]:
import pandas as pd

In [6]:
purchaseorderdetail = pd.read_csv("./data/PurchaseOrderDetail.csv",sep="\t")

In [11]:
purchaseorderdetail.drop(purchaseorderdetail.columns[[6,9]],axis=1).to_csv("./data/PurchaseOrderDetail_cleaned.csv",sep="\t",index=False)

In [12]:
purchaseorderheader = pd.read_csv("./data/PurchaseOrderHeader.csv",sep="\t")

In [14]:
purchaseorderheader.drop(purchaseorderheader.columns[[10]],axis=1).to_csv("./data/PurchaseOrderHeader_cleaned.csv",sep="\t",index=False)

In [16]:
customer = pd.read_csv("./data/Customer.csv",sep="\t")

In [18]:
salesorderdetail = pd.read_csv("./data/SalesOrderDetail.csv",sep="\t")

In [20]:
salesorderdetail.drop(salesorderdetail.columns[[8]],axis=1).to_csv("./data/SalesOrderDetail_cleaned.csv",sep="\t",index=False)

In [21]:
salesorderheader = pd.read_csv("./data/SalesOrderHeader.csv",sep="\t")

In [30]:
salesorderheader.iloc[0]

43659                                                                      43660
8                                                                              8
2011-05-31 00:00:00                                          2011-05-31 00:00:00
2011-06-12 00:00:00                                          2011-06-12 00:00:00
2011-06-07 00:00:00                                          2011-06-07 00:00:00
5                                                                              5
0                                                                              0
SO43659                                                                  SO43660
PO522145787                                                        PO18850127500
10-4020-000676                                                    10-4020-000117
29825                                                                      29672
279                                                                        279.0
5.1                                                                            5
985                                                                          921
985.1                                                                        921
5.2                                                                            5
16281                                                                     5618.0
105041Vi84182                                                      115213Vi29411
Unnamed: 18                                                                  NaN
20565.6206                                                             1294.2529
1971.5149                                                               124.2483
616.0984                                                                 38.8276
23153.2339                                                             1457.3288
Unnamed: 23                                                                  NaN
{79B65321-39CA-4115-9CBA-8FE0903E12E6}    {738DC42D-D03B-48A1-9822-F95A67EA7389}
2011-06-07 00:00:00.1                                        2011-06-07 00:00:00
Name: 0, dtype: object

In [31]:
salesorderheader.drop(salesorderheader.columns[[7]],axis=1).to_csv("./data/SalesOrderHeader_cleaned.csv",sep="\t",index=False)

In [33]:
salesreason =  pd.read_csv("./data/SalesOrderHeaderSalesReason.csv",sep="\t")

In [35]:
customer

,1,Unnamed: 1,934,1.1,AW00000001,{3F5AE95E-B87D-4AED-95B4-C3797AFCB74F},2014-09-12 11:15:07.263000000
0,2,NaN,1028.0,1,AW00000002,{E552F657-A9AF-4A7D-A645-C429D6E02491},2014-09-12 11:15:07.263000000
1,3,NaN,642.0,4,AW00000003,{130774B1-DB21-4EF3-98C8-C104BCD6ED6D},2014-09-12 11:15:07.263000000
2,4,NaN,932.0,4,AW00000004,{FF862851-1DAA-4044-BE7C-3E85583C054D},2014-09-12 11:15:07.263000000
3,5,NaN,1026.0,4,AW00000005,{83905BDC-6F5E-4F71-B162-C98DA069F38A},2014-09-12 11:15:07.263000000
4,6,NaN,644.0,4,AW00000006,{1A92DF88-BFA2-467D-BD54-FCB9E647FDD7},2014-09-12 11:15:07.263000000
...,...,...,...,...,...,...,...
19814,30114,1985.0,1986.0,7,AW00030114,{97154F3D-28F1-4B15-AE03-9518B781ECE3},2014-09-12 11:15:07.263000000
19815,30115,1987.0,1988.0,6,AW00030115,{E4CF8FD5-30A4-4B8E-8FD8-47032E255778},2014-09-12 11:15:07.263000000
19816,30116,1989.0,1990.0,4,AW00030116,{EC409609-D25D-41B8-9D15-A1AA6E89FC77},2014-09-12 11:15:07.263000000
19817,30117,1991.0,1992.0,4,AW00030117,{6F08E2FB-1CD3-4F6E-A2E6-385669598B19},2014-09-12 11:15:07.263000000
19818,30118,1993.0,1994.0,3,AW00030118,{2495B4EB-FE8B-459E-A1B6-DBA25C04E626},2014-09-12 11:15:07.263000000